<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <h1><a href="/">Flask Notes! 📝</a></h1>
        <a href="/">Home 🏠</a>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        {% for message in get_flashed_messages() %}
        <p class="message">{{ message }}</p>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>

