<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 👣</h1>
    <br><br>
</section>
<section class="about-grid-container">
    <figure>
        <img src="../static/images/Newgate_Mall.jpg" alt="Newgate Mall" width="320px">
        <figcaption>Newgate Mall. 🛍️</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Chicken_Teriyaki.jpg" alt="Kobe Teriyaki" width="320px">
        <figcaption>Kobe Teriyaki. 🇯🇵</figcaption>
    </figure>
</section>
{% endblock %}

</html>

