<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <nav>
        <h1>Flask Notes! ✏️</h1>
        <a href="{{ url_for('index') }}">Home 🏠</a>
        <a href="{{ url_for('create') }}">Create 🆕</a>
        <a href="{{ url_for('about') }}">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
            <br><br>
        </section>
        <section class="grid-container">
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Big Mike! 😎</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Burrito_Delight.jpg" alt="Burrito Delignt" width="320px">
                <figcaption>Burrito Delight! 🇲🇽</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Mexican_Menu.jpg" alt="Mexican Menu" width="320px">
                <figcaption>Street Tacos! 🌮</figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://python.org/'>Python 🐍</a></p>
    </footer>
</body>

</html>

