<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <nav>
        <h1>Adopt a Pet! 🐶</h1>
        <a href="/">Home 🐾</a>
        <a href="/about">About ❓</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">About Big Mike!</h1>
            <br>
        </section>
        <section class="about-grid-container">
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" height="240px">
                <figcaption>Big Mike! 🧔‍♂️</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Brigham_City_KOA.jpg" alt="Brigham City, Utah" height="240px">
                <figcaption>Brigham City, Utah. ⛰️</figcaption>
            </figure>
            <figure>
                <img src="../static/images/BC_KOA_LOGO.jpg" alt="KOA Logo" height="240px">
                <figcaption>Summer camping. 🏕️</figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://python.org/'>Python 💪</a></p>
    </footer>
</body>

</html>

