<!-- register.html -->

{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">Create an Account 👤</h1>
    <br><br>
    <form action="{{url_for('register')}}" method="POST">
        <section class="register-grid-container">
            <div>
                <label for="First_name">First Name:</label>
                <input type="text" name="first_name" required>
                <br><br>
                <label for="Last_name">Last Name:</label>
                <input type="text" name="last_name" required>
                <br><br>
                <label for="Username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type="text" name="email" required>
                <br><br>
                <label for="Password">Password:</label>
                <input type="password" name="password" required>
                <br><br>
                <label for="Confirm Password">Confirm Password:</label>
                <input type="password" name="confirm" required>
            </div>
        </section>
        <br>
        <input class="form-button" type="submit" value="Sign Up">
        <br>
    </form>
    <aside>
        <p>Already have and account? </p>
        <br>
        <a class="button" href="{{url_for('login')}}">Login</a>
    </aside>
</section>

{% endblock %}

