<!-- login.html -->

{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<section class="center">
    <h1 style="color:red">Login</h1>
    <br>
    <section class="guest">
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember() }} {{ form.remember.label }}</p>
            <p class="form-button">{{ form.submit() }}</p>
        </form>
    </section>
    <br>
    <h3>New User?</h3>
    <br>
    <a class="button" href="{{ url_for('register') }}">Click to Register!</a>
</section>

{% endblock %}

