<!-- create.html -->

{% extends 'base.html' %}
{% block title %} Create {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">Create new post ✍️</h1>
    <br>
    <form action="{{url_for('create')}}" method="POST">
        <label for="Title">Title: </label>
        <input type="text" name="title" class="form-control" required>
        <br>
        <label for="content">Content: </label>
        <textarea name="content" rows="5" cols="40" required></textarea>
        <br><br>
        <input class="form-button" type="submit" value="Add Post">
    </form>
</section>

{% endblock %}

