<!-- view.html -->

{% extends 'base.html' %}
{% block title %} View {% endblock %}

{% block content %}
<section class="center">
    <h1 class="headline-h1">View Post 🔎</h1>
    <article>
        <h1> {{ post.title }} </h1>
        <h3> {{ post.content }} </h3>
        <Br>
        <h3> By {{ post.author }} at {{ post.created }} </h3>
        <br><Br>
        {% if current_user.username == post.author and current_user.is_authenticated %}
        <span class="flex-container">
            <a class="button" href="/edit/{{ post.id }}">Edit ✏️</a>
            <a class="button" href="/delete/{{ post.id }}">Delete ❌</a>
            <a class="button" href="{{ url_for('index') }}">🔙 Home</a>
        </span>
        {% endif %}
    </article>
</section>

{% endblock %}

