<!-- about.html -->

{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}
<section class="center">
    <h1 class="about-h1">About Big Mike! 😎</h1>
</section>
<section class="about-grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="340px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Peach_City.jpg" alt="Peach City" width="340px">
        <figcaption>Peach City. 🥤</figcaption>
    </figure>
</section>

{% endblock %}

