<!-- register.html -->

{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<section class="center flash-msg">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>

<section class="center">
    <h1 class="headline-h1">Account Registration</h1>
    <form action="/register" method="post" autocomplete="off">
        <label for="username">Username: </label>
        <input type="text" name="username" required>
        </br>
        <label for="password">Password: </label>
        <input type="password" name="password" required>
        </br><br>
        <input class="form-button" type="submit" value="Register">
    </form>
    <br><br>
    <a class="button" href="/">Login here</a>
</section>

{% endblock %}

