<!-- login.html -->

<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}

{% if info %}
<section class="center">
	<h2 class="info">{{ info }}</h2>
	<br>
</section>
{% endif %}

<section class="center">
	<h1>Please enter your login credentials.</h1>
	<br>
</section>
<section class="center">
	<form action="/login" method="post">
		<label for="username">Username: </label>
		<input type="text" name="username" value="{{ username }}">
		<br><br>
		<label for="password">Password: </label>
		<input type="password" name="password">
		<br><br>
		<input type="submit" value="Submit">
	</form>
</section>

{% endblock %}

</html>

