<!-- logged_out.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Logged Out</title>
</head>

<body>
    <main>
        <section class="center alert">
            {{ session['notify'] }}
        </section>
        <section class="center">
            <br><br>
            <h1 class="headline-h1">Goodbye! 🖐</h1>
            <br><br>
            <a class="button" href="{{ url_for('index') }}">🔙 Return Home</a>
        </section>
    </main>
</body>

</html>

