<!-- about.html -->

<!DOCTYPE html>
<html lang="en">


{% extends 'base.html' %}

{% block title %} About {% endblock %}
{% block content %}



<section class="center">
    <h1 class="headline-h1">About Big Mike! 😎</h1>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
        <figcaption>Big Mike! 🧔‍♂️</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Cabelas_Sidney.jpg" alt="Cabela's" width="320px">
        <figcaption>Cabela's. 🎣</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Pony_Express.jpg" alt="Pony Express" width="320 px">
        <figcaption>Pony Express. 🐎</figcaption>
    </figure>
</section>

{% endblock %}

</html>

