<!-- about.html -->

{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 🧑‍💼</h1>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Idaho_Welcome.jpg" alt="Welcome to Idaho" width="320px">
        <figcaption>Welcome to Idaho! 👋</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Malad_Mountains.jpg" alt="Malad Mountains" width="320px">
        <figcaption>Malad Mountains. ⛰️</figcaption>
    </figure>
</section>

{% endblock %}

