<!-- about.html -->

{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}
<section class="center">
    <h1 class="headline-h1">About Big Mike! 😎</h1>
</section>
<section class="about-grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="300px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Malad_Idaho.jpg" alt="Malad, Idaho" width="300px">
        <figcaption>Malad, Idaho. 👋</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Rest_Area.jpg" alt="Rest Area" width="300px">
        <figcaption>Rest Area. 💤</figcaption>
</section>

{% endblock %}