<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{{url_for('index')}}">Home 🏠</a>
        <h1>Triplanned Travel Agency! ✈️</h1>
        <a href="{{url_for('about')}}">About 🛈</a>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>Powered by <a href='https://python.org/'>Python 💪</a></p>
    </footer>
</body>

</html>

