<!-- user.html -->

{% extends "base.html" %}
{% block title %} Profile {% endblock %}

{% block content %}

<section class="grid-container">
    <div>
        <h1 class="headline-h1">Welcome back {{ username }}!</h1>
        <h1>Plan a trip to this city:</h1>
        <form action="/profile" method="post">
            <input type="hidden" name="username" value="{{ username }}">
            <label for="city">City: </label>
            <input type="text" name="city">
            <br>
            <label for="country">Country: </label>
            <input type="text" name="country">
            <br>
            <label for="description">Description: </label>
            <input type="text" name="description">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <h2>List of trips you are currently planning: </h2>
        <ul>
            {% for post in posts %}
            <li>&#128205;{{ post[2] }}, {{ post[3]}}</li>
            <li>{{ post[4] }}</li>
            <li>Created: <i>{{ post[5] }}</i></li>
            {% endfor %}
        </ul>
        
    </div>
</section>

{% endblock %}

