<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <nav>
        <a href="/">Home 🔢</a>
        <h1>Flask Base64! 🧮</h1>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">About Big Mike! 😎</h1>
            <br><br>
        </section>
        <section class="grid-container">
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Big Mike! 😎</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Brigham_City.jpg" alt="Brigham City" width="320px">
                <figcaption>Brigham City, Utah. 🪨</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Perry_Utah.jpg" alt="Perry, Utah" width="320px">
                <figcaption>Perry, Utah. 🏕️</figcaption>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://python.org/'>Python 🐍</a></p>
    </footer>
</body>

</html>

