<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav>
        <h1><a href="/">Flask_Login! 🖥️</a></h1>
        <a href="/login">Login</a>
        <a href="/register">Create account</a>
    </nav>
    <main>
        <section class="center">
            {% if current_user.is_authenticated %}
            <h1>You are logged in</h1>
            <br><br>
            <a class="form-button" href="/logout">Logout</a>
            {% else %}
            <h1>You are not logged in</h1>
            <br><br>
            <a class="form-button" href="/login">Login</a>
            {% endif %}
        </section>
    </main>
</body>

</html>

