<!-- login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <nav>
        <h1><a href="/">Flask_Login! 🖥️</a></h1>
        <a href="/login">Login</a>
        <a href="/register">Create account</a>
    </nav>
    <main>
        <section class="center">
            <h1>Login to your account</h1>
            <br>
            <form action="#" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password">
                <br><br>
                <input class="form-button" type="submit" value="Submit">
            </form>
        </section>
    </main>
</body>

</html>

